<form class="uk-margin-auto" style="width: 300px">
   <fieldset class="uk-fieldset">
      <legend class="uk-legend">Login</legend>

      <div class="uk-margin">
         <label class="uk-form-label" for="form-stacked-text">Email</label>
         <input id="emailInput" class="uk-input" type="email" placeholder="Email" aria-label="Input">
      </div>
      <div class="uk-margin">
         <label class="uk-form-label" for="form-stacked-text">Password</label>
         <input id="passwordInput" class="uk-input" type="password" placeholder="Password" aria-label="Input">
      </div>

      <button id="loginBtn" class="uk-button uk-button-default">Enter</button>
   </fieldset>
</form>

<script src="/assets/js/login.js"></script>