<form action="" class="uk-container uk-container-small">
   <form>
      <fieldset class="uk-fieldset uk-child-width-1-2@m uk-grid-small" uk-grid="" uk-margin="margin: uk-margin-small-top">

         <legend class="uk-legend uk-width-1-1@m">Register</legend>

         <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Username</label>
            <input class="uk-input" id="register_username" type="text" placeholder="Username" aria-label="register_username" required="">
         </div>
         <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Email</label>
            <input class="uk-input" id="register_email" type="email" placeholder="Email" aria-label="register_email" required="">
         </div>
         <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Password</label>
            <input class="uk-input" id="register_password" type="password" placeholder="Password" aria-label="register_password" required="">
         </div>
         <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Repeat password</label>
            <input class="uk-input" id="register_repassword" type="password" placeholder="Repeat password" aria-label="register_repassword" required="">
         </div>

         <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Name</label>
            <input class="uk-input" id="register_name" type="text" placeholder="Name" aria-label="register_name" required="">
         </div>
         <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Last name</label>
            <input class="uk-input" id="register_lastname" type="text" placeholder="Last name" aria-label="register_lastname" required="">
         </div>

         <div class="uk-margin">
            <button id="registerBtn" class="uk-button uk-button-primary">Register</button>
         </div>
      </fieldset>
   </form>
</form>
<script src="/assets/js/register.js"></script>