<nav class="uk-navbar-container">
   <div class="uk-container">
      <div uk-navbar="">
         <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
               <li class="uk-active">
                  <span>
                     <a href="/" class="uk-icon-button" uk-icon="home"></a>
                  </span>
               </li>
            </ul>
         </div>
         <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
               {{#if session}}
                  {{#if session.isAdmin}}
                     <li><a href="/users">Users</a></li>
                  {{/if}}
                  <li class="uk-active">
                     <a href="#">
                        {{#if session.isAdmin}}
                           Admin
                           <span class="uk-icon-button uk-margin-small-right" uk-icon="star"></span>
                        {{else}}
                           <span class="uk-icon-button uk-margin-small-right" uk-icon="user"></span>
                        {{/if}}
                     </a>
                     <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                           <li class="uk-active">
                              <small>
                                 {{#if session.isAdmin}}
                                    Admin:
                                 {{else}}
                                    User:
                                 {{/if}}
                              </small>
                              <span>{{session.email}}</span>
                           </li>
                           <li class="uk-nav-divider"></li>
                           <li>
                              <a href="/api/sessions/logout">
                                 <span>Logout</span>
                                 <span uk-icon="sign-out"></span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </li>
               {{else}}
                  <li class="uk-active">
                     <a href="#">
                        <span class="uk-icon-button uk-margin-small-right" uk-icon="user"></span>
                     </a>
                     <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                           
                           <li>
                              <a href="/sessions/login">
                                 <span>Login</span>
                                 <span uk-icon="sign-in"></span>
                              </a>
                           </li>
                           <li>
                              <a href="/sessions/register">
                                 <span>Register</span>
                                 <span uk-icon="file-edit"></span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </li>
               {{/if}}
            </ul>
         </div>
      </div>
   </div>
</nav>