<div id="products_pagination" class="uk-margin uk-text-center" data-total-pages="{{info.totalPages}}">
   <div class="uk-button-group">
      <button class="uk-button uk-button-default nav-attribute" data-nav-prev-page="{{info.prevPage}}">
         <span uk-icon="icon: arrow-left"></span>
         <span>Prev</span>
      </button>
      <button class="uk-button" disabled="">
         <span>{{info.page}}</span>
      </button>
      <button class="uk-button uk-button-default nav-attribute" data-nav-next-page="{{info.nextPage}}">
         <span>Next</span>
         <span uk-icon="icon: arrow-right"></span>
      </button>
   </div>
</div>